body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: paleturquoise;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Login-container {
  display: flex;
  justify-content: left;

}

.Login-item {
  flex-basis: auto;
}

.profile-container {
  display: flex
}

.regular-playlists {
 flex-basis: auto
}

.liked-playlists {
  flex-basis: auto
}

.navbar-header {
  background-color: #F16E10;
}

body, html {
  height: 100%;
  margin: 0;
}